<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HelloiOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A2B1F361213C86F55619431EA15037A20B3E6A43</string>
				<key>dateExpires</key>
				<string>11/12/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>83NFHDY43B.edwylugo.com.HelloiOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>83NFHDY43B</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>83NFHDY43B.edwylugo.com.HelloiOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>HelloiOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>06ddac45-2c8f-4d02-933f-c145f675c872</string>
				<key>dateExpires</key>
				<string>11/12/22</string>
				<key>name</key>
				<string>HelloiOSFastlaneAdHocProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>83NFHDY43B</string>
				<key>name</key>
				<string>Edwy Lugo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
